<mat-form-field>
  <input matInput value="Dragon Ball" [(ngModel)]="name">
</mat-form-field>
<button mat-raised-button (click)="getAnimesByName()" color="primary">Search</button>

<div class="container" *ngIf="animes.length">
  <div *ngFor="let anime of animes">
    <mat-card class="example-card" routerLink="/anime-detail/{{anime.mal_id}}">
      <img mat-card-image [src]="anime.image_url" alt="Photo">
      <mat-card-title>{{anime.title | slice:0:21}}...</mat-card-title>
    </mat-card>
  </div>
</div>
